![HW](Capture.png)

In [136]:
import numpy as np
import pandas as pd
import math
def tabulate(list,name="x"):
    return pd.DataFrame(list,index= ["Iteration: "+str(x) for x in range(len(list))],columns=[name])

def NRM(f,f_prime,x,error):
    guess_list = []
    while True:       
        x1 = x - f(x) / f_prime(x) 
        tmp = abs(x1 - x)
        if  tmp < error or not np.isfinite(tmp) or np.isnan(tmp):
            guess_list.append(x1)
            break
        x = x1
        guess_list.append(x)
        
    return np.array(guess_list)

def bisection(f, a, b, error): 
    guess_list = []
    while True :
        
        c = (a+b)/2.0
        guess_list.append(c)
        tmp = abs(a-b)
        if  tmp < error or not np.isfinite(tmp) or np.isnan(tmp):
            guess_list.append(c)
            break
            
        if f(a)*f(c) > 0: 
            a=c 
        else:
            b=c

    return np.array(guess_list)

![6.11](6.11.png)

In [137]:
def f(x):
    return np.exp(-0.5*x)*(4-x)-2
def df(x):
    return -(4-x)*np.exp(-0.5*x)-np.exp(-0.5*x)

In [138]:
A = NRM(f,df,2,10**-5)
tabulate(A)

                     x
Iteration: 0  0.854479
Iteration: 1  0.873652
Iteration: 2  0.881110
Iteration: 3  0.883963
Iteration: 4  0.885047
Iteration: 5  0.885458
Iteration: 6  0.885614
Iteration: 7  0.885673
Iteration: 8  0.885695
Iteration: 9  0.885704

In [139]:
f(0.885704)
#Very close to zero

7.885868794854645e-06

In [140]:
B = NRM(f,df,6,10**-5)
tabulate(B)

<ipython-input-136-55983511c083>:10: RuntimeWarning: divide by zero encountered in double_scalars
  x1 = x - f(x) / f_prime(x)

                         x
Iteration: 0  4.817107e+01
Iteration: 1  1.336758e+09
Iteration: 2           inf

In [141]:
C = NRM(f,df,8,10**-5)
tabulate(C)

<ipython-input-136-55983511c083>:10: RuntimeWarning: divide by zero encountered in double_scalars
  x1 = x - f(x) / f_prime(x)

                         x
Iteration: 0  4.573210e+01
Iteration: 1  4.184972e+08
Iteration: 2           inf

### Explanation:
![graph](6.11_graph.PNG)

##### Legend:

* Red line:- F(x)

* Blue line:- tangent of F(x) at 2

* Green line:- tangent of F(x) at 6

* Purple line:- tangent of F(x) at 8



As we can see at 2 the tangent line is normal looking therefore Newton Raphson Method has worked for finding the root.

As for tangents at 6 and 8 they become really step and nearly horizontal thus as the $\frac{f(x)}{f'(x)}$ term in Newton Raphson Method explode and very quickly we get infinities within 2 iterations.

![Sample landmark classification output](6.12.png)

#### Since the function is polynomial it is easily differentiable therefore Newton Raphson Method is chosen since the second derivative required for finding maximum values of F is easy to compute..

In [142]:
def f(x):
    return -2*x**6 - 1.5*x**4 +10*x + 2

def df(x):
    return -12*x**5-6*x**3+10

def df2(x):
    return -12*5*x**4-6**3*x**2

In [143]:
tabulate(NRM(df,df2,1,10**-5))

                      x
Iteration: 0   0.971014
Iteration: 1   0.948244
Iteration: 2   0.930464
Iteration: 3   0.916659
Iteration: 4   0.905992
Iteration: 5   0.897785
Iteration: 6   0.891492
Iteration: 7   0.886681
Iteration: 8   0.883010
Iteration: 9   0.880214
Iteration: 10  0.878089
Iteration: 11  0.876474
Iteration: 12  0.875248
Iteration: 13  0.874318
Iteration: 14  0.873613
Iteration: 15  0.873079
Iteration: 16  0.872674
Iteration: 17  0.872368
Iteration: 18  0.872135
Iteration: 19  0.871960
Iteration: 20  0.871826
Iteration: 21  0.871726
Iteration: 22  0.871649
Iteration: 23  0.871591
Iteration: 24  0.871548
Iteration: 25  0.871515
Iteration: 26  0.871489
Iteration: 27  0.871470
Iteration: 28  0.871456
Iteration: 29  0.871445
Iteration: 30  0.871437

In [144]:
print(f(0.8))
print(f(0.871437))
print(f(0.9))

#we can see here that 0.871437 is the local maxium on interval (0,1)

8.861312
8.973449148756444
8.952968

![Sample landmark classification output](6.13p1.png)
![Sample landmark classification output](6.13p2.png)

#### as stated the function is easily differentiable Newton Raphson Method is chosen since it is fast to converge and guaranteed to do so as well.

In [145]:
def f(x):
    return (5-5*x)-np.exp(0.5*x)
def df(x):
    return -0.5*np.exp(0.5*x)-5

In [146]:
tabulate(NRM(f,df,0.7,10**-5))

                     x
Iteration: 0  0.714175
Iteration: 1  0.714169

In [147]:
f(0.714169)
#Very close to zero

-1.628486860250078e-06

![Sample landmark classification output](6.15.png)

#### Let
#### $x = \sqrt{a}$
#### Square both sides and simplfiy
#### $x^2 = a$
#### $x^2 - a = 0$
#### $f(x) = x^2 - a$
#### Compute $f'(x)$
#### $f'(x) = 2x$

#### Now using Newton Raphson Method.
#### Let
#### $x =x_{0} - \frac{f(x)}{f'(x)}$
#### $x= x - \frac{ x^2 - a}{2x}$
#### Simplfiying
#### $=\frac{(x^2-a)}{2x}$
#### $=\frac{(x^2-a)}{2x}$
#### $=\frac{x-\frac{a}{x}}{2}$

#### Therefore, as we can see "divide and average" is same as Newton Raphson Method